/* CSS Reset Starts Here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

/* CSS Reset Ends Here */

:root {
    --display-bg-color:#32322F;
    --digit-bg-color: #646462;
    --digit-active-color: #C9C9C7;
    --operator-bg-color: #FFA009;
    --operator-active-color: #F3790D;
    --aux-bg-color: #464543;
  }

body{
    background-color: #fbfbff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 100vw;
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top: 10vh;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.75);
}

#display{
    text-align: right;
    background-color: var(--display-bg-color);
    font-size: 40px;
    font-weight: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10%;
    padding-bottom: 2%;
    padding-right: 2%;
    color: white;
}

button{
    color: white;
    border: 1px solid rgba(255,255,255,0.05);
    height: 90px;
    font-size: 1.5em;
}

#top-row{
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 100%;
}

#top-row>#clr-button{
    width: 50%;
    padding: 5px;
}

#top-right{
    padding: 5px;
}

#top-row>button{
    width: 25%;
}

button{
    background-color: var(--digit-bg-color);
}

button:active{
    background-color: var(--digit-active-color);
}

.operator{
    background-color: var(--operator-bg-color);
}

.operator:active{
    background-color: var(--operator-active-color);
}

#mid-rows{
    display: flex;
    flex-wrap: wrap;
}

#mid-rows>button{
    width: 25%;
}

.digit{
    padding: 5px;
}

#bottom-row{
    display: flex;
}


#bottom-row>.digit{
    width: 25%;
}

#bottom-row>#zero-btn{
    width: 50%;
    padding: 5px;
}

#bottom-row>.operator{
    width: 25%;
}

#decimal-btn:disabled{
    color: var(--digit-bg-color);
}